# Dependencies
node_modules
/.pnp
.pnp.js

# Build Outputs
.output
.vinxi
dist
build

# Environment Variables & Secrets
.env
.env.local
.env.*.local
.env.production
.env.staging

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
